<%- include('layout') %>

<h1><%= title %> : <%= author.name %></h1>
<p><%= author.datesFormatted  %></p>

<% if (author_books.length) { %>
    <p>Delete the following books before you attempt to delete the author</p>
    <div>
        <h4>Books: </h4>
        <% for (const b of author_books) {  %>
            <a href=<%= b.url  %>>b.title</a>
            <p><%= b.summary %></p>
            <% } %>
    </div>

    <% } else { %>
        <p>Do you really want to delete this author?</p>
        <form action="" method="POST">
            <div>
                <input type="hidden" id="authorid" name="authorid" value=<%= author._id %>>
                <button type="submit">Delete</button>
            </div>
        </form>
        <% } %>

