<%- include('layout') %>

<h1>Author: <%= author.name %></h1>
<p><%= author.datesFormatted %></p>

<div>
  <h3>Books</h3>
  <% if (author_books) { %> <% for (const book of author_books) {%>
  <div>
    <a href="<% book.url %>"><%= book.title %></a>
    <p><%= book.summary %></p>
  </div>
  <% } %> <% } else {%>
    <p>This author has not written any books.</p>
    <% } %>
</div>
