<%- include('layout') %>

<h1><%= title %></h1>
<form method="POST" action="">


  <label for="book">Book: </label>
  <select name="book" id="book" placeholder="select a book">
    <% for (const book of book_list){ %> 
        <option value=<%= book._id %> selected= <%= selected_book==book._id.toString() ? 'selected' : false  %>> <%= book.title %></option>
        <% } %>
  </select>

    <label for="imprint">Imprint: </label>
  <input type="text" id="imprint" name="imprint" value= <%= bookinstance? bookinstance.imprint : "" %>
  >

  <label for="due_back">Due back date: </label>
  <input type="date" id="due_back" name="due_back"
   value= <%= bookinstance? bookinstance.due_back : "" %> >

  <label for="status">Status:</label>
  <select name="status" id="status" name="status" placeholder="Select a status">
    <option value="Maintenance">Maintenance</option>
    <option value="Available">Available</option>
    <option value="Loaned">Loaned</option>
    <option value="Reserved">Reserved</option>
  </select>

  <button type="submit">Submit</button>
</form>

<% if (errors) { %>
<ul>
  <% for (const e of errors) { %>
  <li><%= e.msg %></li>
  <% } %>
</ul>
<% } %>
