<%- include('layout') %>

<h1><%= title %></h1>
<ul>
  <% if (book_list.length > 0) { %> <% for (let book of book_list) {%>
  <li>
    <a href=<%= book.url %>> <%= book.title %> </a> <%= book.author.name %>
  </li>
  <% } %> <% } else { %>
  <li>The library is currently empty.</li>
  <% } %>
</ul>

 