<%- include('layout') %>

<h3><%= title %></h3>

<% if ( cpus) { %> 
    <% for (const cpu of cpus) { %>
        <div>
            <h4><a href="<%= cpu.url %>"><%= cpu.name %></a></h4>
            <p><strong>Category:</strong> <%= cpu.category.name %></p>
            <p><strong>Price:</strong> <%= cpu.price %>$</p>
            <p><strong>Manufacturer:</strong> <%= cpu.manufacturer.name %></p>
            <p><strong>Released in:</strong> <%= cpu.releaseDateFormatted %></p>
            <p><strong>Generation:</strong> <%= cpu.generation %></p>   
            <p><strong>Specs: </strong> 
                <% for (const spec in cpu.specs){ %>
                    <% if (cpu.specs.hasOwnProperty(spec) && cpu.specs[`${spec}`] ) {%>
                        <p><%= spec %> : <%= cpu.specs[`${spec}`] %></p>
                    <% } %>
                <% } %></p>
            <p><strong>Features: </strong><%= cpu.features.join(', ')  %></p>

        </div>
<% } %> <% } %>
